.to-do-list{
    width:100%;
}

.todo-form{
    display:flex;
    width:100%;
    justify-content:center;
    column-gap:30px;
}
.todo-form-input{
    width:50%;
    border:none;
    outline:none;
    box-shadow:1px 1px 5px gray;
    padding:10px 20px;
    font-size:25px;
    border-radius:5px;
    transition:0.4s;
}

.todo-form-input:hover{
    outline:1px solid #000;
}

.add-task-btn{
    padding:10px 20px;
    font-size:25px;
    background-image: linear-gradient(to right ,rgb(255, 0, 144) ,rgb(0, 255, 242));
    border:none;
    outline:none;
    color:#fff;
    border-radius:5px;
}

.add-task-btn:hover{
     background:transparent;
     outline:1px solid #000;
     color:#000;
}

